In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as mp

In [2]:
train = pd.read_csv("tweets.csv")

In [3]:
train.describe()

,realdonaldtrump you are the man donald trump don’t listen to anyone else ever follow your own instincts and godgiven ability thank god for donald trump much love,FALSE
count,5223,5223
unique,5151,2
top,realdonaldtrump drawtheline\niwillnotjoin\nthi...,False
freq,9,4458

In [4]:
train.head()

,realdonaldtrump you are the man donald trump don’t listen to anyone else ever follow your own instincts and godgiven ability thank god for donald trump much love,FALSE
0,donald trump extends china tariff deadline cit...,False
1,fras99 donald trump should be cancelled thegoo...,False
2,donald trump and benito mussolini the atlanti...,False
3,us to delay china tariff increase donald trump...,False
4,bobnfn1 parscale thebradfordfile potus realdon...,False

In [5]:
col = ['Tweets','Classification']
train.columns = col
train.head()

                                              Tweets  Classification
0  donald trump extends china tariff deadline cit...           False
1  fras99 donald trump should be cancelled thegoo...           False
2  donald trump and benito mussolini  the atlanti...           False
3  us to delay china tariff increase donald trump...           False
4  bobnfn1 parscale thebradfordfile potus realdon...           False

In [6]:
train

                                                 Tweets  Classification
0     donald trump extends china tariff deadline cit...           False
1     fras99 donald trump should be cancelled thegoo...           False
2     donald trump and benito mussolini  the atlanti...           False
3     us to delay china tariff increase donald trump...           False
4     bobnfn1 parscale thebradfordfile potus realdon...           False
...                                                 ...             ...
5218  mayaamoody young expressive black girl in the ...            True
5219  if you had a bff like kylie jenner dont mess t...           False
5220  yeah just like trump only got a small loan of ...            True
5221      i’m doing the kylie jenner lip challenge hehe           False
5222  almost walked away with the whole kylie jenner...           False

[5223 rows x 2 columns]

In [7]:
train = train.astype(str)

In [8]:
train

                                                 Tweets Classification
0     donald trump extends china tariff deadline cit...          False
1     fras99 donald trump should be cancelled thegoo...          False
2     donald trump and benito mussolini  the atlanti...          False
3     us to delay china tariff increase donald trump...          False
4     bobnfn1 parscale thebradfordfile potus realdon...          False
...                                                 ...            ...
5218  mayaamoody young expressive black girl in the ...           True
5219  if you had a bff like kylie jenner dont mess t...          False
5220  yeah just like trump only got a small loan of ...           True
5221      i’m doing the kylie jenner lip challenge hehe          False
5222  almost walked away with the whole kylie jenner...          False

[5223 rows x 2 columns]

In [9]:
# Number of words
train['word_count'] = train['Tweets'].apply(lambda x: len(str(x).split(" ")))
train[['Tweets','Classification','word_count']].head()

,Tweets,Classification,word_count
0,donald trump extends china tariff deadline cit...,False,12
1,fras99 donald trump should be cancelled thegoo...,False,12
2,donald trump and benito mussolini the atlanti...,False,11
3,us to delay china tariff increase donald trump...,False,9
4,bobnfn1 parscale thebradfordfile potus realdon...,False,23

In [10]:
# Character Count
train['char_count'] = train['Tweets'].str.len()
train[['Tweets','Classification','char_count']].head()

,Tweets,Classification,char_count
0,donald trump extends china tariff deadline cit...,False,104
1,fras99 donald trump should be cancelled thegoo...,False,78
2,donald trump and benito mussolini the atlanti...,False,84
3,us to delay china tariff increase donald trump...,False,65
4,bobnfn1 parscale thebradfordfile potus realdon...,False,189

In [11]:
#Average Word Length
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

train['avg_word'] = train['Tweets'].apply(lambda x: avg_word(x))
train[['Tweets','avg_word']].head()

                                              Tweets  avg_word
0  donald trump extends china tariff deadline cit...  7.750000
1  fras99 donald trump should be cancelled thegoo...  5.583333
2  donald trump and benito mussolini  the atlanti...  7.200000
3  us to delay china tariff increase donald trump...  6.333333
4  bobnfn1 parscale thebradfordfile potus realdon...  7.260870

In [12]:
# Number of stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [13]:
stop = stopwords.words('english')

In [14]:
train['stopwords'] = train['Tweets'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['Tweets','stopwords']].head()

                                              Tweets  stopwords
0  donald trump extends china tariff deadline cit...          1
1  fras99 donald trump should be cancelled thegoo...          6
2  donald trump and benito mussolini  the atlanti...          2
3  us to delay china tariff increase donald trump...          1
4  bobnfn1 parscale thebradfordfile potus realdon...          3

In [15]:
#Number of special characters
train['hastags'] = train['Tweets'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['Tweets','hastags']].head()

                                              Tweets  hastags
0  donald trump extends china tariff deadline cit...        0
1  fras99 donald trump should be cancelled thegoo...        0
2  donald trump and benito mussolini  the atlanti...        0
3  us to delay china tariff increase donald trump...        0
4  bobnfn1 parscale thebradfordfile potus realdon...        0

In [16]:
#Transform tweets to Lower Case
train['Tweets'] = train['Tweets'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['Tweets'].head()

0    donald trump extends china tariff deadline cit...
1    fras99 donald trump should be cancelled thegoo...
2    donald trump and benito mussolini the atlantic...
3    us to delay china tariff increase donald trump...
4    bobnfn1 parscale thebradfordfile potus realdon...
Name: Tweets, dtype: object

In [17]:
#Removing Punctuations
train['Tweets'] = train['Tweets'].str.replace('[^\w\s]','')
train['Tweets'].head()

0    donald trump extends china tariff deadline cit...
1    fras99 donald trump should be cancelled thegoo...
2    donald trump and benito mussolini the atlantic...
3    us to delay china tariff increase donald trump...
4    bobnfn1 parscale thebradfordfile potus realdon...
Name: Tweets, dtype: object

In [18]:
# Removing stopwords
stop = stopwords.words('english')
train['Tweets'] = train['Tweets'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['Tweets'].head()

0    donald trump extends china tariff deadline cit...
1    fras99 donald trump cancelled thegoodgodabove ...
2    donald trump benito mussolini atlantic excelle...
3    us delay china tariff increase donald trump ht...
4    bobnfn1 parscale thebradfordfile potus realdon...
Name: Tweets, dtype: object

In [19]:
#Common Word Removal. 
freq = pd.Series(' '.join(train['Tweets']).split()).value_counts()[:10]
freq

kylie        2524
trump        2461
jenner       2237
donald       2218
de           1095
jordyn        532
president     469
que           442
like          431
woods         419
dtype: int64

In [20]:
train['Tweets'] = train['Tweets'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['Tweets'].head()

0    extends china tariff deadline cites progress t...
1                fras99 cancelled thegoodgodabove help
2    benito mussolini atlantic excellent piece http...
3    us delay china tariff increase httpstco6rvbor2btl
4    bobnfn1 parscale thebradfordfile potus realdon...
Name: Tweets, dtype: object

In [21]:
train['Tweets'] = train['Tweets'].str.replace("https", " ")
train['Tweets'].head()

0    extends china tariff deadline cites progress t...
1                fras99 cancelled thegoodgodabove help
2    benito mussolini atlantic excellent piece  tco...
3        us delay china tariff increase  tco6rvbor2btl
4    bobnfn1 parscale thebradfordfile potus realdon...
Name: Tweets, dtype: object

In [22]:
freq1 = pd.Series(' '.join(train['Tweets']).split()).value_counts()
freq1

la                 410
realdonaldtrump    296
con                293
amp                286
amiga              276
                  ...
pasqual67212823      1
premosarah           1
bilked               1
dramat               1
tcokhyiqhszha        1
Length: 19115, dtype: int64

In [23]:
freq1 = pd.Series(' '.join(train['Tweets']).split()).value_counts()[-13186:]
freq1

kurniawanbarry     1
11917              1
motivadores        1
dressing           1
tcoxpx3mnzunn      1
                  ..
pasqual67212823    1
premosarah         1
bilked             1
dramat             1
tcokhyiqhszha      1
Length: 13186, dtype: int64

In [24]:
freq1 = list(freq1.index)

In [25]:
train['Tweets'] = train['Tweets'].apply(lambda x: " ".join(x for x in x.split() if x not in freq1))
train['Tweets'].head()

0    extends china tariff deadline cites progress t...
1                fras99 cancelled thegoodgodabove help
2            benito mussolini atlantic excellent piece
3                       us delay china tariff increase
4    potus realdonaldtrump also quoted mussolini re...
Name: Tweets, dtype: object

In [26]:
check= pd.Series(' '.join(train['Tweets']).split()).value_counts()[:]
check

la                 410
realdonaldtrump    296
con                293
amp                286
amiga              276
                  ...
envolvido            2
luulevat             2
defeating            2
claire               2
unlikes              2
Length: 5929, dtype: int64

In [27]:
#Spelling Correction
from textblob import TextBlob

In [35]:
train['Tweets'[:5223]].apply(lambda x: str(TextBlob(x).correct()))

0       extends china tariff deadline cities progress ...
1                    fraser canceled thegoodgodabove help
2               genito mussolini atlantic excellent piece
3                          us delay china tariff increase
4       pots realdonaldtrump also quoted mussolini rep...
                              ...
5218    young black girl bone couple years back non ha...
5219                               off dont mess one time
5220    yeah got small loan she famous sister leaned s...
5221                                     in lip challenge
5222           almost walked away whole make line tonight
Name: Tweets, Length: 5223, dtype: object

In [30]:
train

,Tweets,Classification,word_count,char_count,avg_word,stopwords,hastags
0,extends china tariff deadline cites progress t...,False,12,104,7.750000,1,0
1,fras99 cancelled thegoodgodabove help,False,12,78,5.583333,6,0
2,benito mussolini atlantic excellent piece,False,11,84,7.200000,2,0
3,us delay china tariff increase,False,9,65,6.333333,1,0
4,potus realdonaldtrump also quoted mussolini re...,False,23,189,7.260870,3,0
...,...,...,...,...,...,...,...
5218,young black girl bronx couple years back neon ...,True,43,252,4.975610,10,0
5219,bff dont mess one time,False,17,69,3.117647,8,0
5220,yeah got small loan shes famous sister leaked ...,True,52,257,4.019608,22,0
5221,im lip challenge,False,8,45,4.750000,2,0
5222,almost walked away whole make line tonight,False,13,74,4.692308,3,0

In [31]:
train.describe()

        word_count   char_count     avg_word    stopwords  hastags
count  5223.000000  5223.000000  5223.000000  5223.000000   5223.0
mean     21.119089   132.032357     5.772404     5.734827      0.0
std      13.339970    78.804216     2.151856     6.174932      0.0
min       1.000000    12.000000     3.090909     0.000000      0.0
25%      12.000000    77.000000     4.704125     1.000000      0.0
50%      17.000000   110.000000     5.416667     3.000000      0.0
75%      29.000000   177.000000     6.285714     9.000000      0.0
max     102.000000   877.000000    73.500000    34.000000      0.0

In [34]:
train.to_csv('cleaned_Data.csv', encoding='utf-8',index=False)